<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="EFHConnection"
    connectionString="Data Source=.;Initial Catalog=EFH;Integrated Security=true"
    providerName="System.Data.SqlClient"/>
    <add name="efhdb" connectionString="Data Source=.;Initial Catalog=efh_db;Persist Security Info=True;User ID=sa;Password=ghdg786;MultipleActiveResultSets=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>